.is-position-fixed {
  position: fixed;
}

.bottom-10pct {
  bottom: 10%;
}

.top-5pct {
  top: 5%;
}

.right-5pct {
  right: 5%;
}

.page-center {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#svg-canvas {
  width: 100%;
  height: 100%;
}
