/* PrismJS 1.28.0
https://prismjs.com/download.html#themes=prism-okaidia */

/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 *
 * 20220803 - DL: Added prism- prefix to most classes to account
 * for Prism.plugins.customClass.prefix('prism-') in order to avoid collisions
 * with Bulma styles
 * 20220804 - DL: Changed pre selectors from pre[class*="language-"] to just pre
 * because marked does not add language as a class to pre elements, only
 * code elements
 */

code[class*="language-"],
/* pre[class*="language-"] { */
pre {
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
/* pre[class*="language-"] { */
pre {
  background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.prism-token.prism-comment,
.prism-token.prism-prolog,
.prism-token.prism-doctype,
.prism-token.prism-cdata {
  color: #8292a2;
}

.prism-token.prism-punctuation {
  color: #f8f8f2;
}

.prism-token.prism-namespace {
  opacity: 0.7;
}

.prism-token.prism-property,
.prism-token.prism-tag,
.prism-token.prism-constant,
.prism-token.prism-symbol,
.prism-token.prism-deleted {
  color: #f92672;
}

.prism-token.prism-boolean,
.prism-token.prism-number {
  color: #ae81ff;
}

.prism-token.prism-selector,
.prism-token.prism-attr-name,
.prism-token.prism-string,
.prism-token.prism-char,
.prism-token.prism-builtin,
.prism-token.prism-inserted {
  color: #a6e22e;
}

.prism-token.prism-operator,
.prism-token.prism-entity,
.prism-token.prism-url,
.prism-language-css .prism-token.prism-string,
.prism-style .prism-token.prism-string,
.prism-token.prism-variable {
  color: #f8f8f2;
}

.prism-token.prism-atrule,
.prism-token.prism-attr-value,
.prism-token.prism-function,
.prism-token.prism-class-name {
  color: #e6db74;
}

.prism-token.prism-keyword {
  color: #66d9ef;
}

.prism-token.prism-regex,
.prism-token.prism-important {
  color: #fd971f;
}

.prism-token.prism-important,
.prism-token.prism-bold {
  font-weight: bold;
}

.prism-token.prism-italic {
  font-style: italic;
}

.prism-token.prism-entity {
  cursor: help;
}
