#svg-canvas {
  --cursor-type: url("./images/circle-cursor.png") 64 64, default;
}

#svg-canvas:hover {
  cursor: var(--cursor-type);
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

text > tspan.text-cursor {
  animation: fade 1s infinite;
}

/* test */
foreignObject {
  border: 2px solid red;
}
